<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>You are connected</h1>
    <form action="/get_channel" method="get">
        <label for="id_channel">Enter your id channel here: </label>
        <input id="id_channel" type="text" name="id_channel">
        <input type="submit" value="OK">
    </form>
  </body>
</html>
