<!DOCTYPE html>
<html>
  <head>
    <title>URL ACCESS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Click on the link below: </h1>
    <a href="<%= link_to_click %>"> <%= link_to_click %></a>
  </body>
</html>
