<!DOCTYPE html>
<html>
  <head>
    <title>Res</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Res from query </h1>
    <p <%= res %></p>
  </body>
</html>
