<!DOCTYPE html>
<html>
  <head>
    <title>Reponse</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Res from query </h1>
    <p>
        <%= JSON.stringify(rep) %>
    </p>
  </body>
</html>
